{% load mptt_tags %}

<div class="hide-for-small panel">
    <h3 class="header-menu">Categorias</h3>
    <ul class="root">
      {% recursetree nodes %}
        <li>
          {% if node.name == 'DVD' %}
            <strong style="color: #0079a1;">{{ node.name }}</strong>
          {% else %}
            <a href="{% url 'list_products' node.id %}" {% if node.id == category.id %}class="active"{% endif %}>{{ node.name }}</a>
          {% endif %}
          {% if not node.is_leaf_node %}
            <ul class="children">
              {{ children }}
            </ul>
          {% endif %}
        </li>
      {% endrecursetree %}
    </ul>
</div>
