{% extends "core/base.html" %}
{% load val_tags %}

{% block content %}
    <div class="large-8 columns">
        <div class="row">
            <h5 class="header-show">{{ product.title }}</h5>
            <img src="{{ product.photo }}" alt="Foto do Produto {{ product.title }}" class="show-photo">
            <a href="{% url 'add_itens' product.id %}" class="button">Comprar</a>
            <ul class="list-info-products">
                <li><strong>Código:</strong> {{ product.code }}</li>
                <li><strong>Preço:</strong> R$ {{ product.price|money }}</li>
                <li class="description"><strong>Descrição:</strong> {{ product.description|safe }}</li>
                {% include "products/category.html" %}
                {% include "products/metadata.html" %}
            </ul>
        </div>
    </div>
{% endblock content %}
