{% load mptt_tags %}

<div class="large-4 small-12 columns">
    <img src="{{STATIC_URL}}img/logo.png" style="margin-bottom: 30px;">

    <div class="hide-for-small panel">
        <h3>Categorias</h3>
        <ul class="root">
          {% recursetree nodes %}
            <li>
              {{ node.name }}
              {% if not node.is_leaf_node %}
                <ul class="children">
                  {{ children }}
                </ul>
              {% endif %}
            </li>
          {% endrecursetree %}
        </ul>
    </div>

    <!--a href="#">
        <div class="panel callout radius">
        <h6>99  items in your cart</h6>
        </div>
    </a-->
</div>
